<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="bg">
    <div class="baner">
      <div class="navbar">
        <div class="logo">
          <img src="/images2/logo-white.png" width="95px" alt="">
        </div>
        <ul>
          <li><a href="">home</a></li>
          <li><a href="">serves</a></li>
          <li><a href="">clint</a</li>
          <li><a href="">contact</a></li>
        </ul>
      </div>
      <div class="home">
        <div class="box">
          <h2>Give your workout <br> A New style</h2>
          <p>Lorem ipsum dolor sit amet consec tetur adipisicing <br> elit aliquid ut magni rem atq</p>
          <button class="btn">explore now</button>
        </div>
        <div class="logo1">

        </div><img src="/images2/image1.png" width="47%" alt="">
      </div>
      
    </div>
  </div>
  <section class="prodact">
    <h2 class="tital">leatest prodact</h2>
    <div class="row">
      <div class="colam">
        <img src="/images2/product-1.jpg" width="120px" alt="">
      <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-2.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-3.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-4.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
    </div>
    <div class="row">
      <div class="colam">
        <img src="/images2/product-5.jpg" width="120px" alt="">
        <h6>Available Productt</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-6.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-7.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-8.jpg" width="120px" alt="">
        <h6>Available Product</h6>
        <p>$50.00</p>
      </div>
    </div>
    </div>
  </section>
  <section class="latest prodact">
    <h2 class="tital">Feature product</h2>
    <div class="row">
      <div class="colam"><img src="~/newfolder/images2/product-9.jpg"  width="120px" />
       
        <h6>this is blue shirt</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="~/images2/product-10.jpg" width="120px" alt="">
        <h6>this is blue shirt</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-11.jpg" width="120px" alt="">
        <h6>this is blue shirt</h6>
        <p>$50.00</p>
      </div>
      <div class="colam">
        <img src="/images2/product-12.jpg" width="120px" alt="">
        <h6>this is blue shirt</h6>
        <p>$50.00</p>
      </div>
    </div>
  </section>
  <section class="offer">
    <div class="row">
      <div class="colam2">
       <img src="/images2/exclusive.png" alt="" width="200px">
      </div>
      <div class="colam2">
        <p>Exclusively   Avanilable on Redstore</p>
        <h2>smart band 4</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Ipsam <br> doloribus consequuntur praesentium nulla!</p>
       <button class="btn">Buy now</button>
      </div>
    </div>

  </section>
  <section class="clint">
    <h2 class="tital">Our Clint</h2>
   <div class="row">
    <img src="/images2/logo-coca-cola.png" width="110px" alt="">
    <img src="/images2/logo-godrej.png" width="110px" alt="">
    <img src="/images2/logo-oppo.png" width="110px" alt="">
    <img src="/images2/logo-paypal.png" width="110px" alt="">
    <img src="/images2/logo-philips.png" width="110px" alt="">
   </div>

  </section>
  <footer>


    <div class="footer-container">
      <div class="footer-column">
          <h3>About Us</h3>
          <p>We are committed to providing the best services to our customers. Our mission is to enhance your experience with our products.</p>
      </div>
      <div class="footer-column">
          <h3>Quick Links</h3>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Contact Us</h3>
          <p>Email: info@KHAN.com</p>
          <p>Phone: 03049847580</p>
          <p>Address: Sialkot, Duska, Pakistan</p>
      </div>
      <div class="footer-column">
          <h3>Follow Us</h3>
          <ul class="social-icons">
            <li><a href="#" class="fa fa-facebook"></a></li>
             
           <li> <a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a> </li> 
             <li> <a href="#" class="fa fa-linkedin"></a> </li> 
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 KHAN. All rights reserved.</p>
  </div>
  </footer>
  

</body>

</html>